.git/
.DS_Store
Thumbs.db
.nfs*
node_modules/
.pnpm-store/
dist/
*.log
*.tmp
*.bak
*.old
*.pid
*.seed
*.pid.lock
.env
*.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
.1024
.1024feature-file
.1024nix
package-lock.json
.next/
next-env.d.ts